doctype
html.teal.lighten-5
  head
    link(type='text/css', rel='stylesheet', href='/admin/vendor/css/materialize.min.css', media='screen,projection')
    link(type='text/css', rel='stylesheet', href='/admin/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    block content

    script(type='text/javascript', src='//code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/admin/vendor/js/materialize.min.js')
    script(type='text/javascript', src='/admin/js/app.js')