extends ../layout

block content

  .container

    h1 Install

    form(method='post')
      .input-field
        input(id='f-base_url', class='validate', type='text', placeholder='e.g. http://example.org', value=params.base_url, required)
        label(for='f-base_url') Base URL

      button(type='submit', class='waves-effect waves-light btn') Install