h1 Install

form(method='post')
  .group
    label(for='f-base_url') Base URL
    input(id='f-base_url', type='text', placeholder='e.g. http://example.org', value=params.base_url, required)

  input(type='submit', value='Install')